<nav class="navbar navbar-expand-lg bg-primary shadow-lg" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand fw-medium" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse flex-grow-0" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active link-warning fw-medium" href="{{path('app_home')}}">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light fw-medium" href="#">Features</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-warning fw-medium" href="#">Pricing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light fw-medium" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle link-warning fw-medium" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu link-light">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2 bg-primary border-warning " type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0 border-warning" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>